<h1>Tubuyark</h1>

<table>
  <tr>
    <th>Tweet List</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td>[<%= link_to "edit", edit_post_path(post.id), data: { confirm: '編集しますか？' } %>]</td>
    <td>[<%= link_to 'del', post_path(post.id), method: :delete, data: { confirm: '削除しますか？' } %>]</td>
  </tr>
<% end %>
</table>
<%= link_to 'Let\'s Tweet', new_post_path %>