html {
  font-size: 90%;
  height: 100%;
}

body {
  height: 100%;
}

.container {
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

.wrapper table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper tr {
  height: 25px;
}

.header {
  background-color: #aacd6f;
  height: 50px;
  font-size: 1.5rem;
}

.title {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 10px;
}

.wrapper {
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 50px;
}

.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: #aacd6f;
  display: table;
}

.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.post_title {
  height: 25px;
  margin-bottom: 10px;
}